"*":
  "activate-power-mode":
    autoToggle: false
  "atom-beautify":
    general:
      _analyticsUserId: "685322f1-fe33-4a0a-a771-8ff54cf1c10d"
      beautifyEntireFileOnSave: false
    js:
      end_with_newline: true
      indent_size: 2
      wrap_line_length: 120
    json:
      end_with_newline: true
      indent_size: 2
    ruby:
      indent_size: 2
    sql:
      indent_size: 2
    xml:
      end_with_newline: true
      indent_size: 2
  core:
    audioBeep: false
    automaticallyUpdate: false
    projectHome: "/Users/swrathal/code"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 13
    preferredLineLength: 120
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "d671f9f3-1eff-8ad5-bcf4-867c4c413247"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  linter:
    gutterEnabled: false
    ignoreMatchedFiles: "**/@(schema|main_menu).rb"
    lintOnFly: false
    showErrorPanel: false
  "linter-rubocop":
    command: "rubocop -c /Users/swrathal/code/website/.rubocop.yml"
  "toggle-quotes": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".html.ruby.text":
  editor:
    preferredLineLength: 120
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 120
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 120
".rails.ruby.source":
  editor:
    preferredLineLength: 120
".ruby.source.sql":
  editor:
    preferredLineLength: 120
